/* General */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: red;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.section-content {
  background-color: dodgerblue;
  flex-grow: 1;
}

.footer {
  background-color: yellow;
}

/* Debug */

.container-debug {
  display: flex;
  padding: 10px;
}

.debug-box {
  background-color: rgba(0, 0, 0, 0.3);
  width: calc(100% / 3 - 20px);
  height: 80px;
  margin: 0 10px;
}
