/* General */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: red;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.section-content {
  background-color: dodgerblue;
  flex-grow: 1;
  overflow: auto;
}

.footer {
  background-color: yellow;
}

/* Utilities */

.flex-container {
  display: flex;
}

/* Debug */

.container-debug {
  padding: 10px;
}

.footer .debug-box {
  background-color: rgba(0, 0, 0, 0.3);
  width: calc(100% / 3 - 20px);
  height: 60px;
  margin: 0 10px;
}

.content-cover .debug-box {
  width: calc(100% / 6 - 20px);
  margin: 10px 10px;
  height: 200px;
  background-color: rgba(0, 0, 0, 0.3);
}

/* Main content */

.sidebar {
  width: 20%;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
}

.main-content {
  width: 80%;
  flex-direction: column;
  margin-left: 21%;
}

.content-cover {
  padding: 10px;
  flex-wrap: wrap;
}

.cta {
  position: fixed;
  top: 0;
  right: 0;
  text-align: right;
  width: calc(100% - 20%);
  background-color: white;
}

.main-nav {
  margin-top: 4%;
  text-align: center;
}

/* Ipotesi media query  */
@media screen and (max-width: 1100px) {
  .cta {
    background-color: red;
  }

  .sidebar-content {
    flex-shrink: 1;
  }

  .content-cover {
    flex-shrink: 2;
  }
}
