/* General */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  height: 100vh;
}

.section-content {
  background-color: #141922;
  height: calc(100vh - 90px);
}

/* Utilities */

.flex-container {
  display: flex;
}

.p-10 {
  padding: 10px;
}

.p-16 {
  padding: 16px;
}

.px-16 {
  padding: 0 16px;
}

.p-25 {
  padding: 25px;
}

.my-16 {
  margin-top: 16px;
  margin-bottom: 16px;
}

.mb-5 {
  margin-bottom: 5px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mt-30 {
  margin-top: 30px;
}

.br-radius {
  border-radius: 50%;
}

/* Debug */

/* .container-debug {
  padding: 10px;
} */

/* .footer .debug-box {
  background-color: rgba(0, 0, 0, 0.3);
  width: calc(100% / 3 - 20px);
  height: 60px;
  margin: 0 10px;
} */

/* .cover .debug-box {
  width: calc(100% / 6 - 20px);
  margin: 10px 10px;
  height: 200px;
  background-color: rgba(0, 0, 0, 0.3);
} */

/* Main content */

/* Sidebar */
.sidebar {
  width: 250px;
  height: 100%;
  background-color: #000;
  color: #6b6b6b;
  font-size: 12px;
  font-weight: 600;
}

.sidebar-content {
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.logo .logo-desktop {
  max-width: 65%;
}

.logo .logo-mobile {
  display: none;
}

.brand-logo-mobile {
  display: none;
}

.container-nav {
  flex-grow: 1;
  overflow: hidden;
}

ul.sidebar-nav-main,
ul.sidebar-playlist {
  list-style: none;
}

.flex-container.sidebar-icon {
  align-items: center;
  justify-content: flex-start;
}

ul.sidebar-nav-main li:first-child {
  position: relative;
}

.sidebar-nav-main li:first-child::before {
  content: "";
  border-left: 3px solid #99e22d;
  display: inline-block;
  height: 30px;
  position: absolute;
  top: 0;
}

.sidebar-icon .container-icon {
  width: 100%;
  align-items: center;
}

.sidebar-nav-main li.sidebar-icon .container-icon a {
  text-decoration: none;
  display: block;
  width: 30px;
}

.sidebar-nav-main li.sidebar-icon .name-icon {
  display: block;
  margin-left: 5px;
}

li.sidebar-icon .active {
  color: #fff;
}

.icon-white {
  filter: invert(20%);
}

.icon-grey {
  filter: invert(65%);
}

.sidebar-playlist li.playlist,
.sidebar-playlist li h4 {
  margin-bottom: 12px;
}

.sidebar-playlist li h4 {
  text-transform: uppercase;
  color: #fff;
  font-size: 12px;
  padding-top: 5px;
}

.sidebar-playlist li.playlist .container-icon a .fa-plus {
  color: #000;
  background-color: #a3a3a3;
  font-size: 20px;
  margin-right: 5px;
  border-radius: none;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
}

.sidebar-playlist li.playlist .container-icon .name-icon {
  font-size: 14px;
}

.sidebar-account .container-install .icon-account {
  margin-right: 5px;
}

.sidebar-account .container-install a {
  text-decoration: none;
  color: #6b6b6b;
}

.sidebar-account .container-install hr {
  margin: 20px 0;
}

.sidebar-account .container-install .name-account {
  color: #fff;
  font-size: 14px;
}

.sidebar-account .container-install .fa-user {
  color: #fff;
  background-color: #a3a3a3;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  line-height: 25px;
  font-size: 18px;
  text-align: center;
}

/* Sidebar hover */

.sidebar-nav-main .sidebar-icon:hover {
  color: #fff;
}

.sidebar-nav-main li:first-child:hover img {
  filter: invert(0%);
}

.sidebar-playlist li.playlist:hover .container-icon a .fa-plus {
  background-color: #fff;
}

.sidebar-playlist li.playlist:hover {
  color: #fff;
}

.sidebar-account .container-install:hover a span {
  color: #fff;
}

/* Call to action */
.cta {
  position: fixed;
  top: 0;
  right: 0;
  text-align: right;
  width: calc(100% - 250px);
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2;
}

.cta a {
  margin-right: 10px;
  padding: 6px 25px;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-size: 12px;
  border: 1px solid #fff;
  border-radius: 20px;
}

/* Call to action hover */
.cta a:hover {
  padding: 10px 30px;
}

/* Nav menù */
.main-nav {
  margin-top: 8%;
  text-align: center;
}

.container-menu {
  width: 60%;
  margin: 0 auto;
}

ul.menu {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

ul.menu .menu-item {
  display: inline-block;
  text-transform: uppercase;
  font-size: 12px;
  color: #6b6b6b;
  font-weight: 600;
  margin: 20px 15px 0;
}

ul.menu .menu-item:first-child::after {
  content: "";
  border-bottom: 2px solid #99e22d;
  width: 35%;
  text-align: center;
  display: inline-block;
}

ul.menu .menu-item .first-menu-item {
  margin-bottom: -9px;
}

/* Nav menù hover */
ul.menu .menu-item:hover {
  color: #fff;
}

/* Main content */
.main-content {
  width: calc(100% - 250px);
  flex-direction: column;
  overflow: auto;
}

.recently-playlist h2,
.create-for-you h2,
.popular-artist h2 {
  color: #fff;
  font-size: 20px;
}

.cover-content {
  flex-wrap: wrap;
}

.cover-content .card {
  width: calc(100% / 6 - 15px);
  margin: 20px 15px 0 0;
}

.cover-content .card .info {
  text-align: center;
}

.cover-content .card .info h4 {
  color: #fff;
  font-size: 14px;
  margin: 10px 0;
}

.cover-content .card .info .subtitle,
.create-for-you .subtitle,
.popular-artist .subtitle {
  color: #6b6b6b;
  font-size: 12px;
  font-weight: 500;
}

.cover-content .card .img-cover {
  position: relative;
}

.cover-content .card .img-cover img {
  object-fit: cover;
  max-width: 100%;
  transition: 0.5 all;
}

.cover-content .img-cover::before {
  content: "\f144";
  color: #fff;
  font-family: "Font Awesome 5 Free";
  font-size: 35px;
  font-weight: 400;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

/* .cover-content .card .img-cover .background {
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  display: none;
} */

/* .cover-content .card .img-cover::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
} */

/* .cover-content .card .img-cover.br-radius::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  border-radius: 50%;
} */

/* Hover cover */

.card:hover .img-cover::before {
  display: block;
}

.card:hover .img-cover {
  opacity: 0.5;
}

/* Footer */

.footer {
  justify-content: space-between;
  color: #fff;
  background-color: #282828;
  height: 90px;
}

.footer ul {
  list-style: none;
}

.footer-left,
.footer-right {
  width: 25%;
}

.footer-center {
  width: 50%;
}

.footer-left {
  justify-content: flex-start;
  padding-left: 16px;
}

.footer-left .container-song {
  margin-right: 50px;
}

.footer-left .container-song,
.footer-left .container-icon {
  align-items: center;
}

.footer-left .container-song img {
  width: 50px;
  margin-right: 10px;
}

.footer-left .container-song .name-song h5 {
  margin: 0;
  font-size: 12px;
}

.footer-left .container-song .name-song .brano-nome {
  color: #6b6b6b;
  font-size: 12px;
  font-weight: 500;
}

.footer-left .container-icon .icon {
  margin-right: 10px;
  color: #6b6b6b;
}

.footer-center {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-center .container-icon,
.footer-center .player,
.footer-right {
  align-items: center;
}

.footer-center .container-icon li {
  margin: 0 20px;
}

.footer-center .container-icon .fa-play-circle {
  font-size: 30px;
}

.footer-center .player {
  justify-content: space-between;
  margin-top: 10px;
  font-size: 12px;
  font-weight: 500;
}

.footer-center .player .progress-bar,
.footer-right .progress-bar {
  background-color: #5a5a5a;
  height: 5px;
  width: 500px;
  margin: 0 20px;
  border-radius: 10px;
  position: relative;
}

.footer-center .player .progress-bar::after {
  content: "";
  background-color: #c1c1c1;
  display: inline-block;
  height: 5px;
  width: 20%;
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
}

.footer-center .player .progress-bar .fa-circle {
  position: absolute;
  top: -4px;
  left: 19%;
  z-index: 1;
  display: none;
}

.footer-right {
  justify-content: flex-end;
}

.footer-right .progress-bar-small {
  background-color: #5a5a5a;
  height: 5px;
  width: 200px;
  margin: 0 10px;
  border-radius: 10px;
  position: relative;
}

.footer-right .progress-bar-small::after {
  content: "";
  background-color: #c1c1c1;
  display: inline-block;
  height: 5px;
  width: 20%;
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
}

.footer-right .progress-bar-small .fa-circle {
  position: absolute;
  top: -4px;
  left: 19%;
  z-index: 1;
  display: none;
  font-size: 12px;
}

.footer-right .footer-icon-right {
  margin: 0 10px;
}

/* Hover footer */

.footer-left .name-song .brano-nome:hover {
  text-decoration: underline;
  color: #fff;
}

.footer-left .container-icon .icon:hover {
  color: #fff;
}

.footer-center .container-icon .fa-play-circle:hover {
  transform: scale(1.2);
}

.footer-center .player .progress-bar:hover::after {
  background-color: #99e22d;
}

.footer-center .player .progress-bar:hover .fa-circle {
  display: block;
}

.footer-right .progress-bar-small:hover::after {
  background-color: #99e22d;
}

.footer-right .progress-bar-small:hover .fa-circle {
  display: block;
}

/*Media query  */

/* Schermi da 700 a 1100px */
@media screen and (min-width: 700px) and (max-width: 1100px) {
  .cta {
    background-color: rgba(0, 0, 0, 0.7);
  }

  .main-nav {
    margin-top: 15%;
  }
  .container-menu {
    width: 100%;
  }

  .cover-content .card {
    width: calc(100% / 4 - 15px);
  }

  .footer-center {
    padding: 0 50px;
  }

  .footer-center .player .progress-bar {
    width: 350px;
  }

  .footer-center .player,
  .footer-center .container-icon,
  .footer-right .footer-icon-right {
    font-size: 12px;
  }

  .footer-center .container-icon .fa-play-circle {
    font-size: 25px;
  }

  .footer-right .progress-bar-small {
    width: 120px;
    margin: 0 5px;
  }
}

/* Schermi da 600px a 699px */
@media screen and (min-width: 600px) and (max-width: 699px) {
  .cta {
    background-color: rgba(0, 0, 0, 0.7);
  }

  .main-nav {
    margin-top: 20%;
  }

  .container-menu {
    width: 100%;
  }

  .cover-content .card {
    width: calc(100% / 2 - 15px);
  }

  .footer-left .container-song {
    margin-right: 25px;
  }

  .footer-left .container-icon {
    flex-direction: column;
    justify-content: space-evenly;
  }

  .footer-left .container-icon .icon {
    font-size: 14px;
  }

  .footer-center .player .progress-bar {
    width: 200px;
  }

  .footer-center {
    padding: 0 60px;
  }

  .footer-center .player,
  .footer-center .container-icon,
  .footer-right .footer-icon-right {
    font-size: 12px;
  }

  .footer-center .container-icon .fa-play-circle {
    font-size: 20px;
  }

  .footer-right .progress-bar-small {
    width: 120px;
    margin: 0 5px 0 2px;
  }

  .footer-right .footer-icon-right {
    margin: 0px 5px;
  }
}

/* Schermi da 500px a 599px */
@media screen and (min-width: 500px) and (max-width: 599px) {
  .cta {
    background-color: rgba(0, 0, 0, 0.7);
    width: calc(100% - 60px);
  }

  .main-nav {
    margin-top: 20%;
  }

  .cover-content .card {
    width: calc(100% / 2 - 15px);
  }

  .sidebar {
    width: 60px;
  }

  .logo .logo-desktop {
    display: none;
  }

  .logo {
    padding: 16px 16px 0;
  }

  .logo .logo-mobile {
    display: block;
  }

  .sidebar-nav-main li:first-child::before {
    display: none;
  }

  .sidebar-nav-main .sidebar-icon .container-icon .name-icon {
    display: none;
  }

  ul.sidebar-playlist {
    display: none;
  }

  .sidebar-account .container-install {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .sidebar-account .container-install a {
    margin-bottom: 20px;
  }

  .sidebar-account .container-install a span,
  .sidebar-account .container-install hr,
  .sidebar-account .container-install .name-account {
    display: none;
  }

  .main-content {
    width: calc(100% - 60px);
  }

  .container-menu {
    width: 100%;
  }

  .footer-left .container-icon {
    flex-direction: column;
    justify-content: center;
  }

  .footer-left .container-icon {
    margin-bottom: 5px;
  }

  .footer-left .container-song {
    margin-right: 10px;
  }

  .footer-left .container-song img {
    width: 30px;
    margin-right: 5px;
  }

  .footer-left .container-song .name-song h5,
  .footer-left .container-song .name-song .brano-nome {
    font-size: 10px;
  }

  .footer-left .container-icon .icon {
    font-size: 12px;
  }

  .footer-center {
    padding: 0 60px;
  }

  .footer-center .player .progress-bar {
    width: 150px;
    margin: 0 10px;
  }

  .footer-center .player,
  .footer-center .container-icon,
  .footer-right .footer-icon-right {
    font-size: 10px;
  }

  .footer-center .container-icon li {
    margin: 0 10px;
  }

  .footer-center .container-icon .fa-play-circle {
    font-size: 18px;
  }

  .footer-right .progress-bar-small {
    width: 80px;
    margin: 0 8px 0 0;
  }

  .footer-right .footer-icon-right {
    margin: 0px 5px;
  }
}
